<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ConnectionString" value="Data Source=DESKTOP-HG3EVRO\SQLEXPRESS;Initial Catalog=ZooManagement;Integrated Security=True"/>
		<add key ="ParentTable" value ="Habitats"/>   
		<add key="Childtable"  value ="Events"/>
		<add key ="ParentColumn" value ="HabitatID"/>
		<add key="ChildColumn" value="HabitatID"/>
	</appSettings>
</configuration>